<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Backbone Blogroll</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Backbone Blogroll</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Author</th>
            <th>Title</th>
            <th>URL</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="blogs-list">

        </tbody>
      </table>
    </div>

    <!-- Templates -->
    <script type="text/template" id="blogs-list-template">
      <td><span class="author"><%= author %></span></td>
      <td><span class="title"><%= title %></span></td>
      <td><span class="url"><%= url %></span></td>
      <td>
        <button class="btn btn-warning edit-blog">Edit</button>
        <button class="btn btn-danger delete-blog">Delete</button>
      </td>
    </script>

    <!-- Scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <!-- Custom Script -->
    <script src="scripts.js"></script>
  </body>
</html>
